<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoX5Nbjo6hhK2ivmPEczRTAvtSsNj4Ogc</string>
	<key>GCM_SENDER_ID</key>
	<string>497075444251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EcemOzturk.ChatBot</string>
	<key>PROJECT_ID</key>
	<string>chatapp-85048</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-85048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497075444251:ios:bc6de6d28cdfb1f24376be</string>
</dict>
</plist>